@import url('https://fonts.googleapis.com/css?family=Niconne&display=swap');
@import url('https://fonts.googleapis.com/css?family=Teko:300,400&display=swap');

*{
    margin: 0;padding: 0;box-sizing: border-box;
}

body{
    background-color: #1f2227; ;
    color: #fff;
}

a{
    color: #fff !important;
}

#content{
    width: 100%;
    height: 100vh;
    background: #1f2227;
    background-size: cover;
    position: relative;
}

.container{
    position: relative;
    height: 8%;
    padding: 0;


}
.nav_bar{
    position: fixed;
    z-index: 1000;
    background: #1f2227;
    box-shadow: 0 0 20px 0 rgba(8, 8, 8, 0.5);
}

.navbar-brand{
    position: absolute;
    width: 100%;
    max-width: 40px;
    top: 5px;
    left: 5%;
    transform: translateX(-5%);
    transition: opacity 650ms;
    
}

.navbar-brand:hover{
    opacity: .8;
}

.hamburger-menu{
    position: fixed;
    top: 9px;
    right: 15px;
    width: 40px;
    height: 40px;
    display: flex;
    background-color:#1f2228;
    border-radius: 4px;
    cursor: pointer;
    z-index: 999;
}
.hamburger-menu i{
    font-size: 30px;
    color:#850900;
    margin: auto;
}
.hamburger-menu .fa-times{
    display: none;
}
.hamburger-menu .fa-times.open{
    display: block;
}
.hamburger-menu .fa-bars.open{
    display: none;
}



.nav-list{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    list-style: none;
    background-color: #1f2227;
    z-index: 900;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transform: scale(0);
    transition: opacity 600ms;

}

.nav-list.open{
    opacity: 1;
    transform: scale(1);
}


.main_content{
    height: 355px !important;

}

.BD_stat{
    color: #fff;
    position: relative;
    top: 75px;
    height: 170px;
    
}
.stat{
    
    float: left;
    width: 20%;
    margin-left: 16px;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
}
.stat_1{
    font-size: 15px;
    line-height: 1rem;
}
.stat_2{
    font-size: 21px;
    line-height: 1rem;
    color: #b11005;
}
.stat_3{
    font-size:10px;
    line-height: 1rem;
}






.map{
 
    width: 100%;
    padding: 5px;
    height: auto;
}

.left{
    width: 65%;
    min-width: 210px;
    padding-right: 15px;
    float: left;
    border-right: 1px solid #fff;
}







#khulna{fill:#5e5e5e;}
#barishal{fill:#5e5e5e;}
#dhaka{fill:#5e5e5e;}
#chitagong{fill:#5e5e5e;}
#sylhet{fill:#5e5e5e;}
#mymensing{fill:#5e5e5e;}
#rajshahi{fill:#5e5e5e;}
#rangpur{fill:#5e5e5e;}




#khulna:hover{
    fill:#850900;
    cursor: pointer;
}

#barishal:hover{
    fill:#850900;
    cursor: pointer;
}

#dhaka:hover{
    fill:#850900;
    cursor: pointer;
   
}

#chitagong:hover{
    fill:#850900;
    cursor: pointer;
}

#sylhet:hover{
    fill:#850900;
    cursor: pointer;
}

#mymensing:hover{
    fill:#850900;
    cursor: pointer;
}

#rajshahi:hover{
    fill:#850900;
    cursor: pointer;
}

#rangpur:hover{
    fill:#850900;
    cursor: pointer;
}








#khulna.selected{
    fill:#850900;
}

#barishal.selected{
    fill:#850900;
    
}

#dhaka.selected{
    fill:#850900;
   
}

#chitagong.selected{
    fill:#850900;
}

#sylhet.selected{
    fill:#850900;

}

#mymensing.selected{
    fill:#850900;
}

#rajshahi.selected{
    fill:#850900;
    
}

#rangpur.selected{
    fill:#850900;
    
}





.right{
    width: 30%;
    
    display: none;
    margin-left:15px;
    color: #fff;
   
}

.right h6{
    font-size: 13px;
}
.region_name{
    font-size: 24px;
}
.region_name_b{
    font-size: 23px;
}
.details{
    margin-top: 20px;
}
.details_header{
    font-size: 18px;
    color: #b11005;
}
.bton{
    margin-top: 20px !important;
    border-radius: 5px;
    padding: 9px;
    background-color: #b11005;
    font-size: 13px;
    font-weight: 800;
    text-decoration: none;
}


.selected_region{
    display: inline-block !important;
}





.bottom_content{
    margin-top: 35px ;
    height: auto !important;
  
}

.discription{
    width: 100%;
    height: auto;
    clear: both;
    color: #fff;
}

.discription_left{
    
    margin-left:10px ;
    float: left;
    width: 40%;
   
}


.left_stat{
    margin-bottom: 15px;
}
.right_stat{
    font-size: .99rem;
    margin-bottom: 15px;

}




.discription_right{
    
    margin-right:10px ;
    width: 45%;
    float: right;
    
    
}




.discription_header{
    font-size: 25px;
    color: #b11005;
}















/* footer */

.footer{
    background:#27292c ;
    margin-bottom: 0 !important;
    position: absolute;
    text-align: center;
    top: 150%;
    width: 100%;
    margin:0;
    padding: 0;


}
.social_menu{
    display: inline-block;
    width: auto;
    margin: 0 86px 0 86px ;
    
    
    
}


.social_menu ul{
    display: flex;
    
}
.social_menu ul li{
    list-style: none;
    margin: 0 15px 0 15px;
}
.social_menu ul li .fa{
    font-size: 15px;
    line-height: 20px;
    transition: 600ms;
    color: #fff ;

}
.social_menu ul li .fa:hover{
    color: #fff;

}
.social_menu ul li a{
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #b11005;
    text-align: center;
    justify-content: center;
    margin-top: 5px;
    transition: 600ms;
    box-shadow: 0 5px 4px rgba(0, 0, 0, .5) ;
}
.social_menu ul li a i{
    margin-top: 5px;
}
.social_menu ul li a:hover{
    transform: translate(0,-10px);
}
.social_menu ul li:nth-child(1) a:hover{
    background-color: #3b5999;

}
.social_menu ul li:nth-child(2) a:hover{
    background-color: #55acee;

}

.social_menu ul li:nth-child(3) a:hover{
    background-color: #e4405f;

}

.social_menu ul li:nth-child(4) a:hover{
    background-color: #0077B5;

}

.footer_text{
    font-size: 10px;
    margin: 0;

}








.chart{
    width: auto;
    
    height: 300px;
    
    
    position: relative;
}
.numbers{
   
    display: inline-block;
    align-self: center;
    position: absolute;
    bottom: -6px;

    
}
.numbers span{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-weight: 800;


   
}
.numbers span:nth-child(2){
    margin-top: 120px;
    

   
}
.numbers span:nth-child(3){
    margin-top: 120px;
    

   
}

.bars{
    width: 350px;
    left: 45px;
    top:0px;
    position: absolute;
    overflow: auto;
    white-space: nowrap;
    background: #555;
    box-shadow: 0 0 10px 0 #555;
    border-radius: 5px;
    height: 300px;
    
    


}
.bar{
    display: inline-block;
    width: 42px;
    height: 100px;
    margin-right: 15px;
    margin-left: 10px;
    position: relative;
    top: 30px;
    border-radius: 4px 4px 0 0;
    background:rgb(119, 36, 27);
    box-shadow: 0 0 10px 0 rgba(100, 30, 22, 0.5);
    transition: 400ms;
    transition-property: background ,box-shadow;



}
.bar .date{
    position: absolute;
    bottom: 0px;
    width: 100%;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    

}

.bar .amount{
    position: absolute;
    top: -23px;
    left: -4px;
    font-size: 17px;
    font-weight: 800;
    width: 100%;
    color: #fff;
    transition:.5s;
    text-align: center;
    

}
.bar:hover .amount{

    
    
    transform: scale(1.3);
    font-weight: 900;
    
    

}
.bars .bar:hover{
    background:#A93226 ;
    box-shadow: 0 0 10px 0 rgba(169, 50, 38, 0.5);
    cursor: pointer;
}




